@charset "UTF-8";

:root {
    --fonte0: arial, verdana, sans-serif;
    --fonte1: "Times news roman";
}

body {
    text-align: center;
}

header {
    margin: auto;
    padding: 5px 50px 50px 50px;
}

main {
    color: black;
    font-weight: bolder;
}

footer {
    padding: 200px 0px 0px 0px;
}