@charset "UTF-8";

:root {
    --fonte0: arial, verdana, sans-serif;
    --fonte1: "Times news roman";
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

#teste {
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: auto;
    background-color: white;
    transition: all 0.5s;
}

#video {
    padding: 20px 20px 20px 20px;
}

ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

main {
    background-color: rgba(0, 255, 255, 0.274);
}

main section {
    height: 500px;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
}