@charset "UTF-8";

:root {
    --fonte0: arial, verdana, sans-serif;
    --fonte1: "Times news roman";
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-weight: 100;
}

header {
    display: flex;
    padding: 20px;
}

.container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}


li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: red;
}

main {
    background-color: rgba(70, 70, 70, 0.274);
}

.conteudo {
    border: 2px solid black;
    min-width: 100px;
    min-height: 100px;
    text-align: center;
} 

.conteudo > h1 {
    padding: 30px;
    font-size: 2em;
}

#sobre p {
    text-align: center;
    font-size: 1.3em;
}


div.imgprodutos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

div.imgprodutos  img {
    padding: 20px;
}

div.imgprodutos > p {
    max-width: 150px;
}

#categoria img {
    padding: 20px;
}

#categoria div {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}





main section {
    height: 500px;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
}